
<div class="container">
    <div class="row">
        <h1>Enter proper details to sign up</h1>
        <div class="col-md-4">
            
        </div>

        <div class="col-md-4">
            
            <form (ngSubmit)="userSignUp()">
                <div class="form-group">
                    <label for="uname">Username</label>
                    <input type="email"
                    name="uname"
                    class="form-control"
                    id="uname"
                    [(ngModel)]="user.uname"
                
                required>
                </div>
              
                <div class="form-group">
                    <label for="upassword">password</label>
                    <input type="password"
                    name="upassword"
                    class="form-control"
                    id="upassword"
                    [(ngModel)]="user.upassword"
                     ngModel
                     #upassword="ngModel"
                required>
                </div>
                <span class="text-danger" *ngIf="!upassword.valid && upassword.touched">please enter name</span>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="address"
                    name="address"
                    class="form-control"
                    id="address"
                    [(ngModel)]="user.address"
                    
                required>
                </div>
                               <div class="form-group">
                    <label for="contact_no">Contact-No</label>
                    <input type="contact_no"
                    name="contact_no"
                    class="form-control"
                    id="contact_no"
                    [(ngModel)]="user.contact_no"
                    
                required>
                </div>
                
                 
                <button  class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>
</div>
