
<div class="container">
    <div class="row">
        <h1>Enter Proper Details To Payment</h1>
        <div class="col-md-2">
            
        </div>

        <div class="col-md-8">
            
            <form>
                <div class="form-group">
                    <label for="uname">CardNo</label>
                    <input type="email"
                    name="uname"
                    class="form-control"
                    id="uname"
                                 
                required>
                </div>
              
                <div class="form-group">
                    <label for="upassword">ExpiryDate</label>
                    <input type="text"
                    name="upassword"
                    class="form-control"
                    id="upassword"
                    ngModel
                     #upassword="ngModel"
                required>
                </div>
                <span class="text-danger" *ngIf="!upassword.valid && upassword.touched">please enter name</span>
                <div class="form-group">
                    <label for="address">cvv</label>
                    <input type="address"
                    name="address"
                    class="form-control"
                    id="address"
                             
                required>
                </div>
                                      
                 
                <button  (click)="onClick()" class="btn btn-success">ConfirmOrder</button>
            </form>
            <h1  text-color="red">PaymentSuccessful</h1>
        </div>
       
    </div>
</div>

